.wrapper{
  img{
    max-width: 1.2em;
    margin-right: 8px;
  }
}

.buttons{
  display: grid;
  grid-template:
                "n1 n2 n3 d" 
                "n4 n5 n6 d" 
                "n7 n8 n9 s" 
                "n0 n0 nd s";  
  border-top: 1px solid var(--button-border-color);
  min-height: 280px;
  padding-bottom: 28px;
  >button{
    border: none;
    border-right: 1px solid var(--button-border-color);
    border-bottom: 1px solid var(--button-border-color);
    width: auto;
    height: 100%;
    background: transparent;
    &:nth-child(1){
      grid-area: n1;
    }
    &:nth-child(2){
      grid-area: n2;
    }
    &:nth-child(3){
      grid-area: n3;
    }
    &:nth-child(4){
      grid-area: n4;
    }   
    &:nth-child(5){
      grid-area: n5;
    }
    &:nth-child(6){
      grid-area: n6;
    }
    &:nth-child(7){
      grid-area: n7;
    }
    &:nth-child(8){
      grid-area: n8;
    }   
     &:nth-child(9){
      grid-area: n9;
    }   
    &:nth-child(10){
      grid-area: nd;
    }   
    
    &:nth-child(11){
      grid-area: n0;
    }   
     &:nth-child(12){
      grid-area: d;
    }   
    
    &:nth-child(13){
      grid-area: s;
      background: var(--welcome-bg-end);
      color: white;
    }   
    
    
  }
}

.dateAndAmount{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-family: monospace;
  border-top: var(--button-border-color);
  >.date{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    color: var(--date-text);
  }
  >.amount{
    font-size: 16px;
    color: var(--amount-text);
  }
}