.button{
    background: var(--float-button-bg);
    border-radius: 50%;
    border:  none;
    display:  flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right:16px;
    bottom: 16px;
    width:56px;
    height:56px;
    >img{
        max-width: 1.5em;
    }
}