.overlay{
    & img{max-width: 1.5em;}
    z-index: calc( var(--zindex-overlay) + 1);
    background: var(--overlay-bg);
    width: 15em;
    height: 100%;
    position: fixed;
    margin-top: 20px;
}

.mask{
    z-index: var(--zindex-overlay);
    background: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;    
    position: fixed;
    margin-top:  20px;
}